ITESTRA_DASHBOARD_PORT=8080
# Ermöglicht das Abschneiden des Namens (10 letzen Zeichen bleiben) für einer ansehentliche Darstellung bei Anonymisierung
VITE_ANONYMIZE_NAMES=true

# MariaDB Datasource
DB_HOST=mariadb
DB_PORT=3306
DB_NAME=itestraOfficeDashboard
DB_USER=myuser
DB_PASS=mypass
DB_ROOT_PASS=myadminpass
